# E-18 프로젝트: 뉴스기사 요약해보기

In [3]:
import urllib.request
import pandas as pd
import numpy as np

## 데이터 수집하기

In [4]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/sunnysai12345/News_Summary/master/news_summary_more.csv", filename="news_summary_more.csv")
data = pd.read_csv('news_summary_more.csv', encoding='iso-8859-1')

In [5]:
data.sample(10)

,headlines,text
54046,Delhi civic body declares 104 wards open defec...,North Delhi Municipal Corporation on Monday de...
15240,Krishna Raj Kapoor was an institution in livin...,"Aamir Khan, while remembering late actor and f..."
97807,CVC rejects reports about deletion of its onli...,The Central Vigilance Commission has denied re...
60018,Home healthcare startup Portea raises $26 mn i...,Bengaluru-based home healthcare startup Portea...
24011,Truckers' strike called off after eight days,All India Motor Transport Congress called off ...
71944,Jaguar reveals smart steering wheel for self-d...,UK-based automaker Jaguar Land Rover has revea...
94178,Sweden holds minute's silence for Stockholm at...,Swedes observed a minute of silence across the...
27054,Ranveer's aura is infectious: Miss World on wo...,"Miss World 2017 Manushi Chhillar, while talkin..."
519,India to soon mark presence on Moon with Chand...,Prime Minister Narendra Modi on Sunday said th...
84773,"My daughter is not a player, she's a very pure...","Actor Shakti Kapoor, while talking about his d..."

이 데이터는 기사의 본문에 해당되는 text와 headlines 두 가지 열로 구성되어져 있습니다.

추상적 요약을 하는 경우에는 text를 본문, headlines를 이미 요약된 데이터로 삼아서 모델을 학습할 수 있어요. 추출적 요약을 하는 경우에는 오직 text열만을 사용.

## 데이터 전처리하기 (추상적 요약)

실습에서 사용된 전처리를 참고하여 각자 필요하다고 생각하는 전처리를 추가 사용하여 텍스트를 정규화 또는 정제해 보세요. 만약, 불용어 제거를 선택한다면 상대적으로 길이가 짧은 요약 데이터에 대해서도 불용어를 제거하는 것이 좋을지 고민해보세요.

## 어텐션 메커니즘 사용하기(추상적 요약)

일반적인 seq2seq보다는 어텐션 메커니즘을 사용한 seq2seq를 사용하는 것이 더 나은 성능을 얻을 수 있어요. 실습 내용을 참고하여 어텐션 메커니즘을 사용한 seq2seq를 설계해 보세요.

## 실제 결과와 요약문 비교하기(추상적 요약)

원래의 요약문(headlines 열)과 학습을 통해 얻은 추상적 요약의 결과를 비교해보세요.

## Summa를 이용하여 추출적 요약해보기

추상적 요약은 추출적 요약과는 달리 문장의 표현력을 다양하게 가져갈 수 있지만, 추출적 요약에 비해서 난이도가 높아요.   
반대로 말하면 추출적 요약은 추상적 요약에 비해 난이도가 낮고 기존 문장에서 문장을 꺼내오는 것이므로 잘못된 요약이 나올 가능성이 낮아요.

Summa의 summarize를 사용하여 추출적 요약을 해보세요.

# 결과 보고서