# 데이터 전처리 복습
[vgsales.csv 데이터](https://www.kaggle.com/gregorut/videogamesales)
- 결측치(Missing Data)
- 중복된 데이터
- 이상치(Outlier)
- 정규화(Normalization)
- 원-핫 인코딩(One-Hot Encoding)
- 구간화(Binning)

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [18]:
# 먼저 데이터 살펴보기

csv_file_path = os.getenv('HOME')+'/aiffel/data_preprocess/data/vgsales.csv'
df = pd.read_csv(csv_file_path) 
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## 결측치

In [7]:
print('컬럼별 그냥 count')
print(df.count())
print('컬럼별 결측치 개수')
len(df) - df.count()

컬럼별 그냥 count
Rank            16598
Name            16598
Platform        16598
Year            16327
Genre           16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64
컬럼별 결측치 개수

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [19]:
df[df.isnull().any(axis=1)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [20]:
df[df['Year'].isnull()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

Year 값이 결측치인 자료들을 어떻게 처리하는 것이 좋을까?

In [21]:
df[df['Publisher'].isnull()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
1303,1305,Triple Play 99,PS,NaN,Sports,NaN,0.81,0.55,0.00,0.10,1.46
1662,1664,Shrek / Shrek 2 2-in-1 Gameboy Advance Video,GBA,2007.0,Misc,NaN,0.87,0.32,0.00,0.02,1.21
2222,2224,Bentley's Hackpack,GBA,2005.0,Misc,NaN,0.67,0.25,0.00,0.02,0.93
3159,3161,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3166,3168,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3766,3768,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.38,0.14,0.00,0.01,0.53
4145,4147,Sonic the Hedgehog,PS3,NaN,Platform,NaN,0.00,0.48,0.00,0.00,0.48
4526,4528,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004.0,Misc,NaN,0.31,0.11,0.00,0.01,0.43
4635,4637,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004.0,Misc,NaN,0.30,0.11,0.00,0.01,0.42
5302,5304,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,NaN,Action,NaN,0.15,0.05,0.14,0.01,0.35
5647,5649,Cartoon Network Collection: Game Boy Advance V...,GBA,2005.0,Misc,NaN,0.23,0.08,0.00,0.01,0.32
6272,6274,The Legend of Zelda: The Minish Cap(weekly JP ...,GBA,NaN,Action,NaN,0.00,0.00,0.27,0.01,0.27
6437,6439,Sonic X: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.19,0.07,0.00,0.00,0.27
6562,6564,Dora the Explorer: Game Boy Advance Video Volu...,GBA,2004.0,Misc,NaN,0.18,0.07,0.00,0.00,0.26
6648,6650,Cartoon Network Collection: Game Boy Advance V...,GBA,2004.0,Misc,NaN,0.18,0.07,0.00,0.00,0.25
6849,6851,All Grown Up!: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.17,0.06,0.00,0.00,0.24
7208,7210,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.16,0.06,0.00,0.00,0.22
7351,7353,Yu Yu Hakusho: Dark Tournament,PS2,NaN,Fighting,NaN,0.10,0.08,0.00,0.03,0.21
7470,7472,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004.0,Misc,NaN,0.15,0.05,0.00,0.00,0.21
7953,7955,Thomas the Tank Engine & Friends,GBA,2004.0,Adventure,NaN,0.13,0.05,0.00,0.00,0.19
8330,8332,Dragon Ball GT: Game Boy Advance Video Volume 1,GBA,2004.0,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8341,8343,Codename: Kids Next Door: Game Boy Advance Vid...,GBA,2004.0,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8368,8370,Teenage Mutant Ninja Turtles: Game Boy Advance...,GBA,2004.0,Misc,NaN,0.12,0.04,0.00,0.00,0.17
8503,8505,Stronghold 3,PC,2011.0,Strategy,NaN,0.06,0.10,0.00,0.00,0.16
8770,8772,Cartoon Network Collection: Game Boy Advance V...,GBA,2005.0,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8848,8850,Pokémon: Johto Photo Finish: Game Boy Advance ...,GBA,2004.0,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8896,8898,Strawberry Shortcake: Game Boy Advance Video V...,GBA,2004.0,Misc,NaN,0.11,0.04,0.00,0.00,0.15
9517,9519,Farming Simulator 2011,PC,2010.0,Simulation,NaN,0.00,0.13,0.00,0.00,0.13
9749,9751,Super Robot Wars OG Saga: Masou Kishin II - Re...,PSP,NaN,Strategy,NaN,0.00,0.00,0.12,0.00,0.12
10382,10384,Disney Channel Collection Vol. 1,GBA,2004.0,Misc,NaN,0.08,0.03,0.00,0.00,0.11
10494,10496,Atsumare! Power Pro Kun no DS Koushien,DS,NaN,Sports,NaN,0.00,0.00,0.10,0.00,0.10
11076,11078,Action Man-Operation Extreme,PS,NaN,Action,NaN,0.05,0.03,0.00,0.01,0.09
11526,11528,Cartoon Network Collection: Game Boy Advance V...,GBA,2004.0,Misc,NaN,0.06,0.02,0.00,0.00,0.08
12487,12489,Chou Soujuu Mecha MG,DS,NaN,Simulation,NaN,0.00,0.00,0.06,0.00,0.06
12517,12519,Prinny: Can I Really Be The Hero? (US sales),PSP,NaN,Action,NaN,0.06,0.00,0.00,0.00,0.06
13278,13280,Monster Hunter Frontier Online,PS3,NaN,Role-Playing,NaN,0.00,0.00,0.05,0.00,0.05
13672,13674,B.L.U.E.: Legend of Water,PS,NaN,Adventure,NaN,0.00,0.00,0.04,0.00,0.04
13962,13964,World of Tanks,X360,NaN,Shooter,NaN,0.00,0.03,0.00,0.00,0.04
14087,14089,Housekeeping,DS,NaN,Action,NaN,0.00,0.00,0.04,0.00,0.04
14296,14299,Bikkuriman Daijiten,DS,NaN,Misc,NaN,0.00,0.00,0.03,0.00,0.03
14311,14314,Silverlicious,DS,2012.0,Action,NaN,0.03,0.00,0.00,0.00,0.03
14698,14701,UK Truck Simulator,PC,2010.0,Simulation,NaN,0.00,0.03,0.00,0.00,0.03
14942,14945,Umineko no Naku Koro ni San: Shinjitsu to Gens...,PS3,NaN,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
15056,15059,Xia-Xia,DS,2012.0,Platform,NaN,0.00,0.02,0.00,0.00,0.02
15261,15264,Mario Tennis,3DS,NaN,Sports,NaN,0.00,0.00,0.02,0.00,0.02
15325,15328,Nicktoons Collection: Game Boy Advance Video V...,GBA,2005.0,Misc,NaN,0.01,0.01,0.00,0.00,0.02
15353,15356,Demolition Company: Gold Edition,PC,2011.0,Simulation,NaN,0.00,0.02,0.00,0.00,0.02
15788,15791,"Moshi, Kono Sekai ni Kami-sama ga Iru to suru ...",PSV,2016.0,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
15915,15918,Dream Dancer,DS,NaN,Misc,NaN,0.01,0.00,0.00,0.00,0.02
16191,16194,Homeworld Remastered Collection,PC,NaN,Strategy,NaN,0.00,0.01,0.00,0.00,0.01
16198,16201,AKB1/48: Idol to Guam de Koishitara...,X360,NaN,Misc,NaN,0.00,0.00,0.01,0.00,0.01
16208,16211,Super Robot Monkey Team: Game Boy Advance Vide...,GBA,2005.0,Misc,NaN,0.01,0.00,0.00,0.00,0.01
16229,16232,Brothers in Arms: Furious 4,X360,NaN,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
16367,16370,Dance with Devils,PSV,2016.0,Action,NaN,0.00,0.00,0.01,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

Publisher 값이 결측치인 자료들을 어떻게 처리하는 것이 좋을까?

배운 방법들을 생각해보자.
1. 결측치가 있는 데이터를 제거한다
2. 결측치 채워넣는다.
    - 특정 값을 지정해줄 수 있습니다. 그러나 결측치가 많은 경우, 모두 같은 값으로 대체한다면 데이터의 분산이 실제보다 작아지는 문제가 생길 수 있습니다.

    - 평균, 중앙값 등으로 대체할 수 있습니다. 1번에서 특정 값으로 대체했을 때와 마찬가지로 결측치가 많은 경우 데이터의 분산이 실제보다 작아지는 문제가 발생할 수 있습니다.

    - 다른 데이터를 이용해 예측값으로 대체할 수 있습니다. 예를 들어 머신러닝 모델로 2020년 4월 미국의 예측값을 만들고, 이 값으로 결측치를 보완할 수 있습니다.

    - 시계열 특성을 가진 데이터의 경우 앞뒤 데이터를 통해 결측치를 대체할 수 있습니다. 예를 들어 기온을 측정하는 센서 데이터에서 결측치가 발생할 경우, 전후 데이터의 평균으로 보완할 수 있습니다.
    
흠... 근데, 예측값을 만들거나 평균, 중앙값등의 값을 지정해주기가 어려운 상황임 => 결측치를 채워넣는 방법이 마땅히 보이지 않음

In [13]:
year_col = df['Year']
publisher_col = df['Publisher']
# NA_sales_col = df['NA_Sales']
# EU_Sales_col = df['EU_Sales']
# JP_Sales_col = df['JP_Sales_col'] 
# Other_Sales_col = df['Other_Sales_col']
Global_Sales_col = df['Global_Sales']

print('year')
print(year_col.corr(Global_Sales_col))
# print('publisher')
# print(publisher_col.corr(Global_Sales_col))

year
-0.07473479761568627

그렇다고 그리고 발매한 연도, 발매한 회사에 따라 판매량에 영향이 없다고 할 수 있는가? 그럴 수도 없기 때문에, 우선은 결측치가 있는 데이터를 제거하는 방법을 사용하도록 하겠음.

In [22]:
df.dropna(how='any', subset=['Year', 'Publisher'], inplace=True)

In [25]:
df[df.isnull().any(axis=1)]
# 결측치 있는 데이터 사라짐

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

## 중복된 데이터

In [26]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Length: 16291, dtype: bool

In [28]:
df[df.duplicated()]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

중복 데이터 없음.

## 이상치
### z-score

In [31]:
def outlier(df, col, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col])>z].index

In [32]:
# 전체 판매량을 기준으로 판단
df.loc[outlier(df, 'Global_Sales', 1.5)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
493,494,FIFA 14,PS4,2013.0,Sports,Electronic Arts,0.61,1.85,0.11,0.33,2.90
494,495,Titanfall,XOne,2014.0,Shooter,Electronic Arts,1.84,0.80,0.04,0.22,2.90
495,496,Sonic Mega Collection Plus,PS2,2004.0,Misc,Sega,1.54,1.14,0.00,0.22,2.90
496,497,Sega Superstars Tennis,X360,2008.0,Sports,Sega,1.75,0.86,0.00,0.28,2.90
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90

In [33]:
# 전체 판매량을 기준으로 판단
df.loc[outlier(df, 'Global_Sales', 2)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
333,334,Spyro: Year of the Dragon,PS,2000.0,Platform,Sony Computer Entertainment,1.93,1.58,0.00,0.19,3.71
334,335,FIFA Soccer 2005,PS2,2004.0,Sports,Electronic Arts,0.58,2.48,0.04,0.59,3.70
335,336,Pokémon Trading Card Game,GB,1998.0,Strategy,Nintendo,1.49,0.73,1.38,0.10,3.70
336,337,Battlefield 4,PS3,2013.0,Shooter,Electronic Arts,1.30,1.51,0.27,0.61,3.69
337,338,MySims,DS,2007.0,Simulation,Electronic Arts,1.59,1.61,0.08,0.41,3.69

In [34]:
# 전체 판매량을 기준으로 판단
df.loc[outlier(df, 'Global_Sales', 3)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
173,174,Final Fantasy IX,PS,2000.0,Role-Playing,SquareSoft,1.62,0.77,2.78,0.14,5.30
174,175,Final Fantasy X-2,PS2,2003.0,Role-Playing,Electronic Arts,1.92,1.08,2.11,0.17,5.29
175,176,Donkey Kong 64,N64,1999.0,Platform,Nintendo,3.33,0.79,1.09,0.06,5.27
176,177,Assassin's Creed II,X360,2009.0,Action,Ubisoft,3.10,1.56,0.08,0.51,5.27
177,178,Professor Layton and the Curious Village,DS,2007.0,Puzzle,Nintendo,1.22,2.48,1.03,0.52,5.26

In [36]:
def not_outlier(df, col, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col]) <= z].index

In [39]:
df.loc[not_outlier(df, 'Global_Sales', 3)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
178,179,Tomb Raider II,PS,1997.0,Action,Eidos Interactive,2.30,2.46,0.20,0.28,5.24
180,181,Dragon Quest VIII: Journey of the Cursed King,PS2,2004.0,Role-Playing,Square Enix,0.65,0.75,3.61,0.20,5.21
181,182,Diablo III,PC,2012.0,Role-Playing,Activision,2.43,2.15,0.00,0.62,5.20
182,183,Super Mario Bros. 3,GBA,2003.0,Platform,Nintendo,2.93,1.25,0.83,0.20,5.20
183,184,New Super Mario Bros. U,WiiU,2012.0,Platform,Nintendo,2.32,1.30,1.27,0.31,5.19
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### IQR Method

In [43]:
data = df['Global_Sales']
Q3, Q1 = np.percentile(data, [75 ,25])
IQR = Q3 - Q1
IQR

0.42

In [44]:
data[(Q1-1.5*IQR > data)|(Q3+1.5*IQR < data)]

0       82.74
1       40.24
2       35.82
3       33.00
4       31.37
        ...
1842     1.11
1843     1.11
1844     1.11
1845     1.11
1846     1.11
Name: Global_Sales, Length: 1826, dtype: float64

In [45]:
def outlier2(df, col):
  data = df[col]
  Q3, Q1 = np.percentile(data, [75 ,25])
  IQR = Q3 - Q1
  print(IQR)
  return data[(Q1-1.5*IQR > data)|(Q3+1.5*IQR < data)].index
  
outlier2(df, 'Global_Sales')

0.42

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1836, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846],
           dtype='int64', length=1826)

## 정규화

### 표준화 (standardization)

In [46]:
global_standardization = (data - data.mean())/data.std()
global_standardization

0        52.444813
1        25.328886
2        22.508829
3        20.709608
4        19.669632
           ...
16593    -0.338732
16594    -0.338732
16595    -0.338732
16596    -0.338732
16597    -0.338732
Name: Global_Sales, Length: 16291, dtype: float64

In [50]:
# trade 데이터를 Standardization 기법으로 정규화합니다. 
cols = ['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']
sales_Standardization= (df[cols]-df[cols].mean())/df[cols].std()
sales_Standardization.head()

    NA_Sales   EU_Sales   JP_Sales  Other_Sales  Global_Sales
0  50.124931  56.689775  11.835234    44.252142     52.444813
1  35.035540   6.739150  21.582588     3.796102     25.328886
2  18.949106  24.999402  11.899361    17.158695     22.508829
3  18.827515  21.327717  10.264115    15.317393     20.709608
4  13.380257  17.165165  32.516298     5.006100     19.669632

In [51]:
sales_Standardization.describe()

           NA_Sales      EU_Sales      JP_Sales   Other_Sales  Global_Sales
count  1.629100e+04  1.629100e+04  1.629100e+04  1.629100e+04  1.629100e+04
mean  -2.434103e-14 -6.459305e-14  1.906528e-14  3.729313e-14 -3.277106e-14
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -3.230013e-01 -2.900656e-01 -2.527678e-01 -2.547632e-01 -3.387324e-01
25%   -3.230013e-01 -2.900656e-01 -2.527678e-01 -2.547632e-01 -3.068313e-01
50%   -2.257289e-01 -2.507962e-01 -2.527678e-01 -2.021546e-01 -2.366489e-01
75%   -3.118394e-02 -7.408413e-02 -1.245131e-01 -4.432869e-02 -3.886211e-02
max    5.012493e+01  5.668978e+01  3.251630e+01  5.535256e+01  5.244481e+01

### min-max scaling

In [47]:
# 데이터 x를 min-max scaling 기법으로 정규화합니다. 
global_min_max = (data-data.min())/(data.max()-data.min())
global_min_max

0        1.000000
1        0.486281
2        0.432854
3        0.398767
4        0.379064
           ...
16593    0.000000
16594    0.000000
16595    0.000000
16596    0.000000
16597    0.000000
Name: Global_Sales, Length: 16291, dtype: float64

In [53]:
df[cols] = (df[cols]-df[cols].min())/(df[cols].max()-df[cols].min())
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,1.000000,1.000000,0.368885,0.800378,1.000000
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,0.700892,0.123363,0.666341,0.072848,0.486281
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,0.382020,0.443832,0.370841,0.313150,0.432854
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,0.379610,0.379394,0.320939,0.280038,0.398767
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,0.271632,0.306340,1.000000,0.094607,0.379064

In [54]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.405561,0.006403,0.005091,0.007714,0.004581,0.006417
std,4792.654450,5.832412,0.019822,0.017550,0.030517,0.017983,0.018945
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.000604
50%,8292.000000,2007.000000,0.001928,0.000689,0.000000,0.000946,0.001934
75%,12439.500000,2010.000000,0.005785,0.003790,0.003914,0.003784,0.005681
max,16600.000000,2020.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### test 데이터 정규화에도 같은 규칙 적용의 필요성
min-max 예시

In [56]:
# train_min = data.min()
# test_max = data.max()

# train_min_max = (data - train_min)/(train_max - train_min)
# test_min_max =  (data_test - train_min)/(train_max - train_min)    # test를 min-max scaling할 때도 train 정규화 기준으로 수행

In [58]:
# minMaxScaler 활용하여 min-max 정규화 하는 방법도 있다.
from sklearn.preprocessing import MinMaxScaler
train = [[10, -10], [30, 10], [50, 0]]
test = [[0, 1]]
scaler = MinMaxScaler()

MinMaxScaler()

## one-hot encoding

In [65]:
print(df['Genre'].head())
print(df['Publisher'].head())
print(df['Platform'].head())

# get_dummies를 통해 국가명 원-핫 인코딩
genre = pd.get_dummies(df['Genre'])
publisher = pd.get_dummies(df['Publisher'])
platform = pd.get_dummies(df['Platform'])
genre.head()

0          Sports
1        Platform
2          Racing
3          Sports
4    Role-Playing
Name: Genre, dtype: object
0    Nintendo
1    Nintendo
2    Nintendo
3    Nintendo
4    Nintendo
Name: Publisher, dtype: object
0    Wii
1    NES
2    Wii
3    Wii
4     GB
Name: Platform, dtype: object

,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,0,0

In [66]:
df = pd.concat([df, genre,publisher,platform], axis=1)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,...,SAT,SCD,SNES,TG16,WS,Wii,WiiU,X360,XB,XOne
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,1.000000,1.000000,0.368885,0.800378,...,0,0,0,0,0,1,0,0,0,0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,0.700892,0.123363,0.666341,0.072848,...,0,0,0,0,0,0,0,0,0,0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,0.382020,0.443832,0.370841,0.313150,...,0,0,0,0,0,1,0,0,0,0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,0.379610,0.379394,0.320939,0.280038,...,0,0,0,0,0,1,0,0,0,0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,0.271632,0.306340,1.000000,0.094607,...,0,0,0,0,0,0,0,0,0,0

In [67]:
df.drop(['Genre','Platform','Publisher'], axis=1, inplace=True)
df.head()

,Rank,Name,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Action,Adventure,...,SAT,SCD,SNES,TG16,WS,Wii,WiiU,X360,XB,XOne
0,1,Wii Sports,2006.0,1.000000,1.000000,0.368885,0.800378,1.000000,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2,Super Mario Bros.,1985.0,0.700892,0.123363,0.666341,0.072848,0.486281,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Mario Kart Wii,2008.0,0.382020,0.443832,0.370841,0.313150,0.432854,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Wii Sports Resort,2009.0,0.379610,0.379394,0.320939,0.280038,0.398767,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Pokemon Red/Pokemon Blue,1996.0,0.271632,0.306340,1.000000,0.094607,0.379064,0,0,...,0,0,0,0,0,0,0,0,0,0

## 구간화

In [68]:
ctg = pd.qcut(df['Global_Sales'], q=5)
ctg

0            (0.00725, 1.0]
1            (0.00725, 1.0]
2            (0.00725, 1.0]
3            (0.00725, 1.0]
4            (0.00725, 1.0]
                ...
16593    (-0.001, 0.000484]
16594    (-0.001, 0.000484]
16595    (-0.001, 0.000484]
16596    (-0.001, 0.000484]
16597    (-0.001, 0.000484]
Name: Global_Sales, Length: 16291, dtype: category
Categories (5, interval[float64]): [(-0.001, 0.000484] < (0.000484, 0.00133] < (0.00133, 0.0029] < (0.0029, 0.00725] < (0.00725, 1.0]]

In [69]:
print(ctg.value_counts().sort_index())
print(".\n.\n🛸 Well done!")

(-0.001, 0.000484]     3698
(0.000484, 0.00133]    3106
(0.00133, 0.0029]      2991
(0.0029, 0.00725]      3263
(0.00725, 1.0]         3233
Name: Global_Sales, dtype: int64
.
.
🛸 Well done!